@import "variables";
@import "../node_modules/bootstrap/scss/bootstrap.scss";

// The title block
.title {
  margin-top: 3.5em;
  @extend .col-12;
  .label {
    margin-top: 1.5em;
    margin-bottom: 1em;
    @extend .col-md-8;
    @extend .offset-md-2;
    @extend .col-12;
    text-align: center;
  }
  .subtitle {
    font-size: smaller;
    color: #aaa;
  }
  h2 {
    font-size: 1.5rem;
  }
  .warnings {
    font-size: small;
    font-style: italic;
    p {
      margin-bottom: 1em;
    }
  }
  .noscript_message {
    left: 0;
    right: 0;
    bottom: 0;
    position: absolute;
    font-size: 0.9em;
    font-style: italic;
    text-align: center;
    color: #943;
  }
}
.fixed {
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  z-index: 1000;
  width: 100%;
}
#tools_wrapper {
  background: $body-bg;
  .ways {
    padding: 0.5em;
    @extend .col-md-6;
  }
  .buttons {
    @extend .col-md-6;
    text-align: right;
  }
  button {
    display: inline-block;
  }
}
#content_wrapper {
  background: $text_background;
  border-radius: 5px;
}
.content {
  @extend .col-md-10;
  @extend .offset-md-1;
  @extend .col-12;
  padding: 1em;
  ul {
    margin: 0;
    padding: 0 0 0 1em;
  }
  ul.options {
    border: 1px solid #876;
    padding: 0;
    text-align: center;
    margin-top: 0.5em;
    margin-bottom: 0.7em;
    list-style-type: none;
    border-radius: 4px;
    li {
      padding: 0.5em;
      border-bottom: 1px solid #876;
    }
    li:hover {
      background-color: rgba(153,136,119,0.2);
      cursor: pointer;
    }
    li:last-child {
      border-bottom: none;
    }
  }
  section {
    border-top: 1px dashed #bbb;
  }
  .room-start {
    border-top: none;
  }
  h3 {
    text-align: center;
  }
}

#legal {
  margin-top: 1em;
  color: darken($body-color, 10%);
  font-size: smaller;
  .muted {
    color: grey;
  }
  #footleft {
    @extend .col-md-5;
    @extend .offset-md-2;
    @extend .col-12;
  }
  #footright {
    text-align: right;
    @extend .col-md-2;
    @extend .offset-md-2;
    @extend .col-12;
  }
}

.way {
  color: $waycolor;
  margin-right: 1em;
}

.cycle {
  color: darkgreen;
  border-bottom: darkgreen dashed 1px;
}

hr {
  width: 50%;
  border-color: $body-color;
}

.center {
  text-align: center;
}

.btn-outline-primary,
.btn-outline-danger {
  border: none;
  border-color: transparent;
}
